{% extends 'main/base.html' %}
{% load static %}
{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/about_us_style.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper" style="background-color: rgb(235, 233, 233);">
    <div class="container-fluid services">
        <div class="row" id="r1">
            <div class="col-md-6" id="provided">
                <h4 id="head1" style="color: rgba(4, 51, 97, 1.0)">Sevices provided by Urban Development</h4>
                <p id="para1">Every Client is an individual and essential to us; with this in mind we ensure design is distinctive, unique and most importantly cost effective.</p>
                <h5  id="head2" style="color: rgb(114, 21, 34); padding-top: 10px;">Architecture</h5>
                <p id="para2">We know that a “personal bespoke” service is what every Client expects and deserves. We therefore ensure there is only one point of contact within our company.</p>
                <p id="para3">This contact will be a Senior Manager and will know every detail of the project from conception through to final completion.</p>
                <h5 id="head3" style="color: rgb(114, 21, 34)">Environmental</h5>
                <p id="para4">We want to create, provide, embed and sustain in Clients, a deliberate Environmental Culture in all Building and Energy installations, Energy conservation and sustainability are foremost in our design delivery. A life cycle design approach is key to our business philosophy.</p>
                <p id="para5">We are committed to establishing a detailed understanding of the client requirements at an early stage and provide the resources and research to find the best practice solutions to meet them.</p>
                <h5 id="head4" style="color: rgb(114, 21, 34)">Design Management</h5>
                <p id="para6">On projects where we have been appointed as Multi-Disciplinary consultants, a crucial service that is always included is “Design Management”.</p>
                <p id="para7">This involves co-ordination exercises between all the disciplines to ensure that the design is fully compliant to the Client brief, meets all Regulations and Standards and most importantly is within the Clients budget.</p>
            </div>
            <div class="col-md-6" id="senior">
                <h4 id="head2_1" style="color: rgba(4, 51, 97, 1.0)">Senior Expertise and Sectors</h4>
                <p id="para2_1">Senior staff, with extensive experience and knowledge, are matched according to project and sector. This ensures that our Clients always receive exceptional designs based on their exacting requirements</p>
                <h5 id="head2_2" style="color: rgba(4, 51, 97, 1.0)" >Urban Development is actively involved in the
                    following sectors:</h5>
                <h5 id="head2_3" style="color: rgb(114, 21, 34)">Industrial</h5>
                <p id="para2_2">Industry, Facilities Management</p>
                <h5 id="head2_4" style="color: rgb(114, 21, 34)">Airport</h5>
                <p id="para2_3">Specialist, Passenger, Cargo, Retail</p>
                <h5 id="head2_5" style="color: rgb(114, 21, 34)">Leisure Resort</h5>
                <p id="para2_4">Cinema, Hotel</p>
                <h5 id="head2_6" style="color: rgb(114, 21, 34">Mixed Use</h5>
                <p id="para2_5">Urban Development, Regeneration</p>
                <h5 id="head2_7" style="color: rgb(114, 21, 34)">Office</h5>
                <p id="para2_6">Independent, Integrated</p>
                <h5 id="head2_8" style="color: rgb(114, 21, 34)">Residential</h5>
                <p id="para2_7">Private, Affordable, Resort</p>
                <h5 id="head2_9" style="color: rgb(114, 21, 34)">Retail</h5>
                <p id="para2_8">Independent, Integrated</p>
                <h5 id="head2_10" style="color: rgb(114, 21, 34)">Specialist</h5>
                <p id="para2_9">Seismic, Forensic, Bomb Damage Analysis, Expert Witness</p>
            </div>
        </div>
    </div>

    <div class="pad"></div>
</div>

{% endblock %}
{% block extraJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.5/gsap.min.js"></script>
<script>
    //Left side
    gsap.fromTo('#head1',
        {opacity: 0},
        {opacity: 1, delay:0, duration:1});
    gsap.fromTo('#para1',
        {opacity: 0},
        {opacity: 1, delay:.1, duration:1});
    gsap.fromTo('#head2',
        {opacity: 0},
        {opacity: 1, delay:.2, duration:1});
    gsap.fromTo('#para2',
        {opacity: 0},
        {opacity: 1, delay:.3, duration:1});
    gsap.fromTo('#para3',
        {opacity: 0},
        {opacity: 1, delay:.4, duration:1});
    gsap.fromTo('#head3',
        {opacity: 0},
        {opacity: 1, delay:.5, duration:1});
    gsap.fromTo('#para4',
        {opacity: 0},
        {opacity: 1, delay:.6, duration:1});
    gsap.fromTo('#para5',
        {opacity: 0},
        {opacity: 1, delay:.7, duration:1});
    gsap.fromTo('#head4',
        {opacity: 0},
        {opacity: 1, delay:.8, duration:1});
    gsap.fromTo('#para6',
        {opacity: 0},
        {opacity: 1, delay:.9, duration:1});
    gsap.fromTo('#para7',
        {opacity: 0},
        {opacity: 1, delay:1, duration:1});

    //right side
    gsap.fromTo('#head2_1',
        {opacity: 0},
        {opacity: 1, delay:1.0, duration:1});
    gsap.fromTo('#para2_1',
        {opacity: 0},
        {opacity: 1, delay:1.1, duration:1});
    gsap.fromTo('#head2_2',
        {opacity: 0},
        {opacity: 1, delay:1.2, duration:1});
    gsap.fromTo('#head2_3',
        {opacity: 0},
        {opacity: 1, delay:1.3, duration:1});
    gsap.fromTo('#para2_2',
        {opacity: 0},
        {opacity: 1, delay:1.4, duration:1});
    gsap.fromTo('#head2_4',
        {opacity: 0},
        {opacity: 1, delay:1.5, duration:1});
    gsap.fromTo('#para2_3',
        {opacity: 0},
        {opacity: 1, delay:1.6, duration:1});
    gsap.fromTo('#head2_5',
        {opacity: 0},
        {opacity: 1, delay:1.7, duration:1});
    gsap.fromTo('#para2_4',
        {opacity: 0},
        {opacity: 1, delay:1.8, duration:1});
    gsap.fromTo('#head2_6',
        {opacity: 0},
        {opacity: 1, delay:1.9, duration:1});
    gsap.fromTo('#para2_5',
        {opacity: 0},
        {opacity: 1, delay:2, duration:1});
    gsap.fromTo('#head2_7',
        {opacity: 0},
        {opacity: 1, delay:2.1, duration:1});
    gsap.fromTo('#para2_6',
        {opacity: 0},
        {opacity: 1, delay:2.2, duration:1});
    gsap.fromTo('#head2_8',
        {opacity: 0},
        {opacity: 1, delay:2.3, duration:1});
    gsap.fromTo('#para2_7',
        {opacity: 0},
        {opacity: 1, delay:2.4, duration:1});
    gsap.fromTo('#head2_9',
        {opacity: 0},
        {opacity: 1, delay:2.5, duration:1});
    gsap.fromTo('#para2_8',
        {opacity: 0},
        {opacity: 1, delay:2.6, duration:1});
    gsap.fromTo('#head2_10',
        {opacity: 0},
        {opacity: 1, delay:2.7, duration:1});
    gsap.fromTo('#para2_9',
        {opacity: 0},
        {opacity: 1, delay:2.8, duration:1});
</script>
{% endblock %}