{% extends 'main/base.html' %}
{% load static %}
{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/contact_style.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid p-0 m-0">
    <div class="row contact-departments">
        <div class="col-lg-3 col-md-6 col-xs-12 department-col">
            <div class="department-info">
                <h3>New Work</h3>
                <p>Name</p>
                <p>Position</p>
                <p>+44 207 281 9333</p>
                <a href="mailto:samclendenan@icloud.com" class="btn btn-default">Email</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 department-col">
            <div class="department-info">
                <h3>Existing</h3>
                <p>Name</p>
                <p>Position</p>
                <p>+44 207 281 9333</p>
                <a href="mailto:samclendenan@icloud.com" class="btn btn-default">Email</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 department-col">
            <div class="department-info">
                <h3>General</h3>
                <p>Name</p>
                <p>Position</p>
                <p>+44 207 281 9333</p>
                <a href="mailto:samclendenan@icloud.com" class="btn btn-default">Email</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 department-col">
            <div class="department-info">
                <h3>Careers</h3>
                <p>Name</p>
                <p>Position</p>
                <p>+44 207 281 9333</p>
                <a href="mailto:samclendenan@icloud.com" class="btn btn-default">Email</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0 m-0">
    <div class="row">
        {% for office in offices %}
        <div class="col-lg-6 col-md-12 location">
            <img src="{{office.display_image.url}}">
            <div class="department-info">
                <h3>{{office.city}}</h3>
                <p>{{office.street_address}}, {{office.post_code}}</p>
                <p>{{office.city}}, {{office.country}}</p>
                <p>{{office.phone_number}}</p>
                <a href="mailto:{{office.email}}" class="btn btn-default">Email</a>
                <a href="{{office.google_map_location}}" class="btn btn-default">Find Us</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}