
#provided {
    padding-top: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
#senior {
    padding-top: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
p {
    font-size: 13px;
}
h4 {
    font-weight: 800;
}
.wrapper {
    min-height: 100%;

}
body{
    background-color: rgb(235, 233, 233);
}

.fade-on-scroll{
    opacity: 0;
    transition: opacity 1s;
}
.fade-on-scroll.animate{
    opacity: 1;
}