.department-col{
    border-width: 1px;
    border-color: rgba(0,0,0, 0.10);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}
.department-info {
    padding: 30px;
}
.department-info p{
    margin: 5px !important;
}
.location{
    padding: 0 !important;
    margin: 0 !important;
    border-width: 1px;
    border-color: rgba(0,0,0, 0.10);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}
.location img{
    width: 100%;
    height: 400px;

    object-fit: cover;
    object-position: bottom;
}

.btn{
    margin-top: 5px;
    background-color: rgba(0,0,0, 0.15);
    padding-right: 25px !important;
    padding-left: 25px !important;
    font-size: 14px !important;
    border-radius:20px !important;
    color: black;
}
.btn:hover{
    color: black;
}
