.carousel{
    position:absolute;
    top:0;
    left:0;
}
.carousel-item{
    height: calc(93vh);
    position: center;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
}
