
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}
@media (max-width: 800px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
}
figure{
    position: relative;
}
.centered {
    opacity: 0;
    position: absolute;
    color: white;
    top: 50%;
    width: 100%;
    text-align: center;
    transition: 1s;
}
.my-class{
    opacity: 1;
    transition: 1s;
}
.gallery__item{
    margin: 0px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:1s;
}

.gallery__item:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px black;
    cursor: pointer;
}

.fade-on-scroll{
    opacity: 0;
    transition: opacity 1.5s;
}
.fade-on-scroll.animate{
    opacity: 1;
}
body{
    background-color: rgba(0,0,0, 0.10) !important;
}
.navbar{
    background-color: #fff !important;
}